/* .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__left {
  flex: 0.5;
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  color: gray;
  align-items: center;
}

.header__left > input {
  border: none;
  width: 100%;
}

.header__right > h4 {
  margin-left: 10px;
} */

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__left {
  flex: 0.5;
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  color: gray;
  align-items: center;
}

.header__left > input {
  border: none;
  width: 100%;
}

.header__right > h4 {
  margin-left: 10px;
}

/* Mobile-friendly styles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__left {
    flex: 1;
    margin-bottom: 10px;
  }

  .header__right > h4 {
    margin-left: 0;
    margin-top: 10px;
  }
}
